<?xml version="1.0"?>
<robot name="GEN3-7DOF-NOVISION_FOR_URDF_ARM_V12" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 1. Import the raw URDF geometric properties you provided -->
  <xacro:include filename="$(find kinova_description)/urdf/gen3_7dof_novision.xacro" />
  <xacro:include filename="$(find kinova_description)/urdf/ros2_control.xacro"/>

</robot>